body{
  color: black!important;
  background-color:white;
  background-image: none!important;
}

body:after {
  background-color: transparent;
}

#aboutus a,
#contactus a,
#contactus a:hover,
#aboutus a:hover {
  color: black!important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: black!important;
}

.navbar-default {
  background-color: white;
  border-bottom: 1px solid black!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    background-color: white;
}

.navbar-default .navbar-nav.navbar-right>li:not(:last-child) {
    border-bottom: 1px solid black;
}
