<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if page.layout == 'home' or page.layout == 'page' or page.layout == 'focus'%}
            <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
          {% endif %}
          {% if page.title == 'Places' %}
            <a class="navbar-brand normalWeight" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }} | </a>
            <a class="navbar-brand" href="{{ "/places" | prepend: site.baseurl }}">luoghi</a>
          {% endif %}
          {% if page.layout == 'timemachine' %}
            <a class="navbar-brand normalWeight" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }} | </a>
            <a class="navbar-brand normalWeight" href="{{ "/places/" | prepend: site.baseurl }}">luoghi | </a>
          {% endif %}
          {% if page.layout == 'placelist' %}
            <a class="navbar-brand normalWeight" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }} | </a>
            <a class="navbar-brand normalWeight" href="{{ "/places" | prepend: site.baseurl }}">luoghi | </a>
            <a class="navbar-brand" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif%}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
            <li><a href="mailto:hello@calib.ro">offtopic@autoproduzioni.org</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
