<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include sides.html %}
    <script src="{{ "/assets/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/d3/d3.min.js" | prepend: site.baseurl }}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js'></script>
    {% if page.custom-libs%}
      {% for lib in page.custom-libs%}
        <script src="{{ lib }}"></script>
      {% endfor %}
    {% endif %}
    <script src="{{ "/js/molo.js" | prepend: site.baseurl }}"></script>
    {% if page.custom-js%}
      {% for js in page.custom-js%}
        <script src="{{ js | prepend: "/js/" | prepend: site.baseurl }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
