---
layout: default
---
<div class="container page">
  <div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-6">
      <h1>{{page.title}}</h1>
      <p class="focusInfo">
        data: {{ page.date | date: "%F" }}
        | autori: {{page.authors | array_to_sentence_string}}
        | lettura: {% assign words = content | number_of_words %}
          {% if words < 360 %}
            1 minuto
          {% else %}
            {{ words | divided_by:180 }} minuti
          {% endif %}
      </p>
      <div id="map"></div>
      <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          {% for place in site.data.places.features %}
            {% if place.properties.panoId == page.panoid %}
              <tr>
                <td>
                  {{ place.properties.address}}
                </td>
                <td>
                  {{ place.properties.category }}
                </td>
                <td>
                  <a href="{{'/places/timemachine?panoid=' | append: place.properties.panoId | prepend: site.baseurl}}">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
      {{content}}
    </div>
  </div>
</div>
<script>
  var PLACE = {% for place in site.data.places.features %}
                {% if place.properties.panoId == page.panoid %}
                {{place | jsonify}};
                {% endif %}
              {% endfor %}
</script>
