---
layout: default
---
<div id="home" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 homeControls">
      <p>
          <a class="btn btn-default" href="{{ "/incipit" | prepend: site.baseurl }}" role="button">incipit</a>
      </p>
      <p>
        <a class="btn btn-default" href="{{ "/data" | prepend: site.baseurl }}" role="button">dati</a>
    </p>
    <p>
        <a class="btn btn-default" href="{{ "/about" | prepend: site.baseurl }}" role="button">info</a>
    </p>
    </div>
    <div class="col-sm-12 col-md-6">
      {{ content }}
    </div>
    <div class="col-sm-12 col-md-3">
      <h4>CAPITOLO I°</h4>
      <h4>{{site.description}}</h4>
      <div class="btn-group explore" role="group">
        <a class="btn btn-default btn-lg" href="{{ "/places" | prepend: site.baseurl }}" role="button">esplora</a>
      </div>
    </div>
  </div>
</div>
